@charset "UTF-8";

@font-face {
  font-family: "ai-telesale-font";
  src:url("fonts/ai-telesale-font.eot");
  src:url("fonts/ai-telesale-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/ai-telesale-font.woff") format("woff"),
    url("fonts/ai-telesale-font.ttf") format("truetype"),
    url("fonts/ai-telesale-font.svg#ai-telesale-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ai-telesale-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ait-"]:before,
[class*=" ait-"]:before {
  font-family: "ai-telesale-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ait-ai-sms:before {
  content: "\61";
}
.ait-ai-telesale:before {
  content: "\62";
}
.ait-address:before {
  content: "\63";
}
.ait-support:before {
  content: "\64";
}
.ait-target:before {
  content: "\65";
}
.ait-two-sms:before {
  content: "\67";
}
.ait-user-analytics:before {
  content: "\68";
}
.ait-chevron-up:before {
  content: "\69";
}
.ait-circle-outline-phone:before {
  content: "\6a";
}
.ait-email:before {
  content: "\6b";
}
.ait-increase-chart-laptop:before {
  content: "\6c";
}
.ait-phone-ring:before {
  content: "\6d";
}
.ait-save-money:before {
  content: "\6e";
}
.ait-statistics-reports:before {
  content: "\6f";
}
.ait-big-data:before {
  content: "\70";
}
.ait-check:before {
  content: "\71";
}
.ait-ai:before {
  content: "\75";
}
.ait-telesale:before {
  content: "\66";
}
.ait-agency-user:before {
  content: "\72";
}
.ait-ai-telesale-logo:before {
  content: "\73";
}
